.canvas {
border-radius: 5px;
background-color: white;
border: 1px solid #000;
overflow: hidden;
margin: auto;
}

.primeOneContainerL {
position: absolute;
top:0%;
left:50%;
text-align: center;
transform: translate(-110%, 33%)
}

.primeOneContainerR {
position: absolute;
top:0%;
left:50%;
text-align: center;
transform: translate(10%, 33%)
}

.primeTwoContainerL {
position: absolute;
top:0%;
left:50%;
text-align: center;
transform: translate(-110%, 33%)
}

.primeTwoContainerR {
position: absolute;
top:0%;
left:50%;
text-align: center;
transform: translate(10%, 33%)
}

.responseContainerL {
position: absolute;
top:0%;
left:50%;
text-align: center;
transform: translate(-110%, 33%)
}

.responseContainerR {
position: absolute;
top:0%;
left:50%;
text-align: center;
transform: translate(10%, 33%)
}

.cardbutton
{
position: absolute;
transform : translate(0%, 100%)
}

.err
{
position: absolute;
top: 0%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, 2300%)
}

button {
/*text-align:center;*/
position: absolute;
top: 580px;
left: 50%;
transform: translate(-50%, 0%);
}

div {
text-align: center;
}

/*input {
text-align:center;
float:inherit
}*/

/*.center-block {
display: block;
margin-right: auto;
margin-left: auto;
}*/

.exampleContainerL {
position: absolute;
top:0%;
left:50%;
text-align: center;
transform: translate(-110%, 33%)
}

.exampleContainerR {
position: absolute;
top:0%;
left:50%;
text-align: center;
transform: translate(10%, 33%)
}